.box{
    width: 100px;
    height: 100px;
    border: 2px solid black;
}
.parent{
    border: 2px solid black;
    display: flex;
    /* flex-direction: row-reverse; */
    /* gap: 20px; */
    /* justify-content: space-between; */
    /* justify-content: space-around; */
    /* justify-content: space-evenly; */
    justify-content: center;
    /* justify-content: flex-start; */
    height: 500px;
    align-items: center;
    /* flex-wrap: wrap; */
}